<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage Hacking!</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
        <button type="submit">Check</button>
    </form>
    {% if users_with_same_password %}
        <p>Users with the same password hash:</p>
        <ul>
            {% for user in users_with_same_password %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <a href="{% url 'login' %}">Back to login</a>

</body>
</html>
